In [1]:
import pandas as pd #pandas

In [2]:
import numpy as np #다차원의 숫자 배열을 파이썬에서 효율적으로 처리하기 위한 모듈

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8]) #pansdas 자료구조 Series 생성, 1차원 : index를 사용하여 참조

In [5]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [6]:
dates = pd.date_range('20130101', periods=6) #pandas 자료구조 DataFrame 생성, 2013-01-01을 기준으로 6개, 2차원:index,colunms

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) 
#임의의 값을 가지는 6x4 DataFrame 생성, index는 dates, columns는 ABCD

In [9]:
df

                   A         B         C         D
2013-01-01  0.299028 -1.181714 -2.441782 -0.567676
2013-01-02  0.508745  0.143457 -0.322349 -1.797698
2013-01-03  0.082382 -0.104139 -0.020805 -0.799455
2013-01-04 -0.825304 -0.552276 -0.625291  0.117057
2013-01-05  0.565328  0.791494 -0.036873 -0.117764
2013-01-06 -0.408575 -0.710675  0.529753 -1.272782

In [10]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),#Series를 DataFrame에 넣기
                    'D' : np.array([3] * 4,dtype='int32'), #4개짜리 배열에 3의 값을 입력
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [11]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [12]:
df2.dtypes #각 columns의 데이터 타입을 출력

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df.head() #마지막 행을 제외한 나머지 행을 출력

                   A         B         C         D
2013-01-01  0.299028 -1.181714 -2.441782 -0.567676
2013-01-02  0.508745  0.143457 -0.322349 -1.797698
2013-01-03  0.082382 -0.104139 -0.020805 -0.799455
2013-01-04 -0.825304 -0.552276 -0.625291  0.117057
2013-01-05  0.565328  0.791494 -0.036873 -0.117764

In [16]:
df.head(2) #위에서 부터 2개의 행을 출력

                   A         B         C         D
2013-01-01  0.299028 -1.181714 -2.441782 -0.567676
2013-01-02  0.508745  0.143457 -0.322349 -1.797698

In [17]:
df.tail(3) #아래에서 3개의 행을 출력

                   A         B         C         D
2013-01-04 -0.825304 -0.552276 -0.625291  0.117057
2013-01-05  0.565328  0.791494 -0.036873 -0.117764
2013-01-06 -0.408575 -0.710675  0.529753 -1.272782

In [18]:
df.index #Data Frame의 index를 출력

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [19]:
df.columns #Data Frame의 각 열의 이름을 출력

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [20]:
df.values #Data Frame의 각 값을 출력

array([[ 0.2990283 , -1.1817137 , -2.44178228, -0.567676  ],
       [ 0.50874517,  0.14345657, -0.32234881, -1.79769772],
       [ 0.08238172, -0.10413925, -0.02080484, -0.79945457],
       [-0.82530413, -0.55227626, -0.62529098,  0.11705654],
       [ 0.56532823,  0.79149366, -0.03687313, -0.11776367],
       [-0.40857488, -0.7106752 ,  0.52975296, -1.272782  ]])

In [21]:
df.describe() #Data Frame의 한 열의 갯수, 평균, 최소, 최대등을 표시

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.036934 -0.268976 -0.486225 -0.739720
std    0.550363  0.697182  1.031615  0.715197
min   -0.825304 -1.181714 -2.441782 -1.797698
25%   -0.285836 -0.671075 -0.549555 -1.154450
50%    0.190705 -0.328208 -0.179611 -0.683565
75%    0.456316  0.081558 -0.024822 -0.230242
max    0.565328  0.791494  0.529753  0.117057

In [22]:
df.T #열과 행을 바꿔서 출력

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.299028    0.508745    0.082382   -0.825304    0.565328   -0.408575
B   -1.181714    0.143457   -0.104139   -0.552276    0.791494   -0.710675
C   -2.441782   -0.322349   -0.020805   -0.625291   -0.036873    0.529753
D   -0.567676   -1.797698   -0.799455    0.117057   -0.117764   -1.272782

In [26]:
df.sort_index(axis=1, ascending=False) #열이름을 기준으로 역순으로 정렬

                   D         C         B         A
2013-01-01 -0.567676 -2.441782 -1.181714  0.299028
2013-01-02 -1.797698 -0.322349  0.143457  0.508745
2013-01-03 -0.799455 -0.020805 -0.104139  0.082382
2013-01-04  0.117057 -0.625291 -0.552276 -0.825304
2013-01-05 -0.117764 -0.036873  0.791494  0.565328
2013-01-06 -1.272782  0.529753 -0.710675 -0.408575

In [27]:
df.sort(columns='B') #B열의 값을 기준으로 행을 정렬

                   A         B         C         D
2013-01-01  0.299028 -1.181714 -2.441782 -0.567676
2013-01-06 -0.408575 -0.710675  0.529753 -1.272782
2013-01-04 -0.825304 -0.552276 -0.625291  0.117057
2013-01-03  0.082382 -0.104139 -0.020805 -0.799455
2013-01-02  0.508745  0.143457 -0.322349 -1.797698
2013-01-05  0.565328  0.791494 -0.036873 -0.117764

In [28]:
df['A'] #A열의 값만 출력

2013-01-01    0.299028
2013-01-02    0.508745
2013-01-03    0.082382
2013-01-04   -0.825304
2013-01-05    0.565328
2013-01-06   -0.408575
Freq: D, Name: A, dtype: float64

In [29]:
df[0:3] #1행에서 3행까지 출력

                   A         B         C         D
2013-01-01  0.299028 -1.181714 -2.441782 -0.567676
2013-01-02  0.508745  0.143457 -0.322349 -1.797698
2013-01-03  0.082382 -0.104139 -0.020805 -0.799455

In [30]:
df['20130102':'20130104'] #index가 20130102이상 20130104미만은 행 출력

                   A         B         C         D
2013-01-02  0.508745  0.143457 -0.322349 -1.797698
2013-01-03  0.082382 -0.104139 -0.020805 -0.799455
2013-01-04 -0.825304 -0.552276 -0.625291  0.117057

In [31]:
#loc는 해당 위치의 값을 출력, index의 값이 옴.
df.loc[dates[0]] #1행의 값을 출력

A    0.299028
B   -1.181714
C   -2.441782
D   -0.567676
Name: 2013-01-01 00:00:00, dtype: float64

In [32]:
df.loc[:,['A','B']] #인덱스 값이 A,B인 열을 출력

                   A         B
2013-01-01  0.299028 -1.181714
2013-01-02  0.508745  0.143457
2013-01-03  0.082382 -0.104139
2013-01-04 -0.825304 -0.552276
2013-01-05  0.565328  0.791494
2013-01-06 -0.408575 -0.710675

In [33]:
df.loc['20130102':'20130104',['A','B']] #행의 인덱스가 20130102에서 20130104이며, 열의 인덱스가 A,B인 값을 출력

                   A         B
2013-01-02  0.508745  0.143457
2013-01-03  0.082382 -0.104139
2013-01-04 -0.825304 -0.552276

In [34]:
df.loc['20130102',['A','B']] #행의 인덱스가 20130102이고, 열의 인덱스가 A,B인 값을 출력

A    0.508745
B    0.143457
Name: 2013-01-02 00:00:00, dtype: float64

In [35]:
df.loc[dates[0],'A'] #행의 인덱스가 20130101이며, 열의 인덱스가 A인 값 출력

0.29902830458532403

In [36]:
 df.at[dates[0],'A'] #위의 loc[dates[0],'A']와 같은 값을 가지지만 처리 속도가 빠르다

0.29902830458532403

In [37]:
#iloc는 입력값이 정수만 넣을 수 있다.
df.iloc[3] #4번째 행의 값을 출력

A   -0.825304
B   -0.552276
C   -0.625291
D    0.117057
Name: 2013-01-04 00:00:00, dtype: float64

In [38]:
df.iloc[3:5,0:2] #4~5번째행이며, 1~2번째 열의 값을 출력

                   A         B
2013-01-04 -0.825304 -0.552276
2013-01-05  0.565328  0.791494

In [39]:
df.iloc[[1,2,4],[0,2]] #행의 인덱스가 1,2,4(2,3,5행)이고, 열의 인덱스가 0,1(1,2행)을 출력

                   A         C
2013-01-02  0.508745 -0.322349
2013-01-03  0.082382 -0.020805
2013-01-05  0.565328 -0.036873

In [40]:
df.iloc[1:3,:] #2,3행을 출력

                   A         B         C         D
2013-01-02  0.508745  0.143457 -0.322349 -1.797698
2013-01-03  0.082382 -0.104139 -0.020805 -0.799455

In [41]:
 df.iloc[:,1:3] #2,3열을 출력

                   B         C
2013-01-01 -1.181714 -2.441782
2013-01-02  0.143457 -0.322349
2013-01-03 -0.104139 -0.020805
2013-01-04 -0.552276 -0.625291
2013-01-05  0.791494 -0.036873
2013-01-06 -0.710675  0.529753

In [42]:
df.iloc[1,1] #2행2열값을 출력

0.14345657151191171

In [43]:
df.iat[1,1] #2행2열값을 출력

0.14345657151191171

In [44]:
df[df.A > 0] #A열의 값이 0보다 큰 행만 출력

                   A         B         C         D
2013-01-01  0.299028 -1.181714 -2.441782 -0.567676
2013-01-02  0.508745  0.143457 -0.322349 -1.797698
2013-01-03  0.082382 -0.104139 -0.020805 -0.799455
2013-01-05  0.565328  0.791494 -0.036873 -0.117764

In [45]:
df[df > 0] #Data Frame df의 값이 0보다 작으면 NaN(Not a Number)를 출력

                   A         B         C         D
2013-01-01  0.299028       NaN       NaN       NaN
2013-01-02  0.508745  0.143457       NaN       NaN
2013-01-03  0.082382       NaN       NaN       NaN
2013-01-04       NaN       NaN       NaN  0.117057
2013-01-05  0.565328  0.791494       NaN       NaN
2013-01-06       NaN       NaN  0.529753       NaN

In [46]:
df2 = df.copy() #Data Frame df를 복사

In [47]:
df2['E'] = ['one', 'one','two','three','four','three'] #E열의 값을 수정

In [48]:
df2

                   A         B         C         D      E
2013-01-01  0.299028 -1.181714 -2.441782 -0.567676    one
2013-01-02  0.508745  0.143457 -0.322349 -1.797698    one
2013-01-03  0.082382 -0.104139 -0.020805 -0.799455    two
2013-01-04 -0.825304 -0.552276 -0.625291  0.117057  three
2013-01-05  0.565328  0.791494 -0.036873 -0.117764   four
2013-01-06 -0.408575 -0.710675  0.529753 -1.272782  three

In [49]:
#isin(입력), 입력된 값 중에서 해당 되는 값이 있으면 참, 없으면 거짓
df2[df2['E'].isin(['two','four'])] #E열 값이 two와 four인 행 출력

                   A         B         C         D     E
2013-01-03  0.082382 -0.104139 -0.020805 -0.799455   two
2013-01-05  0.565328  0.791494 -0.036873 -0.117764  four

In [50]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6)) #행의 인덱스는 20130102~20130107이며 각 행의 값은 1~6을 가진 Series 생성

In [51]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [52]:
df['F'] = s1 #Data Frame df의 f열을 Series S1으로 수정

In [53]:
df.at[dates[0],'A'] = 0 #1행의 A열의 값을 0으로 설정

In [54]:
df.iat[0,1] = 0 #1행의 2번째열(B열)의 값을 0으로 설정

In [55]:
#len은 입력된 자료구조의 길이
df.loc[:,'D'] = np.array([5] * len(df)) #D열의 값을 5로 설정

In [56]:
df

                   A         B         C  D   F
2013-01-01  0.000000  0.000000 -2.441782  5 NaN
2013-01-02  0.508745  0.143457 -0.322349  5   1
2013-01-03  0.082382 -0.104139 -0.020805  5   2
2013-01-04 -0.825304 -0.552276 -0.625291  5   3
2013-01-05  0.565328  0.791494 -0.036873  5   4
2013-01-06 -0.408575 -0.710675  0.529753  5   5

In [57]:
df2 = df.copy()

In [58]:
df2[df2 > 0] = -df2 #df2의 값이 0보다 크면 -로 수정

In [59]:
df2

                   A         B         C  D   F
2013-01-01  0.000000  0.000000 -2.441782 -5 NaN
2013-01-02 -0.508745 -0.143457 -0.322349 -5  -1
2013-01-03 -0.082382 -0.104139 -0.020805 -5  -2
2013-01-04 -0.825304 -0.552276 -0.625291 -5  -3
2013-01-05 -0.565328 -0.791494 -0.036873 -5  -4
2013-01-06 -0.408575 -0.710675 -0.529753 -5  -5

In [60]:
#reindex : 입력된 인덱스를 수정
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E']) #행 인덱스를 1~4행까지 유지하고,(dates에서 불러옴) 열은 기존의 ABCDF에 E를 추가

In [61]:
df1.loc[dates[0]:dates[1],'E'] = 1 #1,2행의 E열 값을 1로 설정

In [62]:
df1

                   A         B         C  D   F   E
2013-01-01  0.000000  0.000000 -2.441782  5 NaN   1
2013-01-02  0.508745  0.143457 -0.322349  5   1   1
2013-01-03  0.082382 -0.104139 -0.020805  5   2 NaN
2013-01-04 -0.825304 -0.552276 -0.625291  5   3 NaN

In [63]:
#dropna : NA 값이 있으면 버림, how='any' 이면 NA가 하나라도 있으면, 'all'이면 전부 NA이면 드랍
df1.dropna(how='any')

                   A         B         C  D  F  E
2013-01-02  0.508745  0.143457 -0.322349  5  1  1

In [65]:
#fillna : 값이 NA/NAN이면 지정된 값으로 설정
df1.fillna(value=5)

                   A         B         C  D  F  E
2013-01-01  0.000000  0.000000 -2.441782  5  5  1
2013-01-02  0.508745  0.143457 -0.322349  5  1  1
2013-01-03  0.082382 -0.104139 -0.020805  5  2  5
2013-01-04 -0.825304 -0.552276 -0.625291  5  3  5

In [66]:
#NUMLL값이면 True, 아니면 False
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [67]:
#mean : 평균, 입력이 0이면 열의 평균을, 1이면 행의 평균을 계산
df.mean() #각열의 평균을 계산

A   -0.012904
B   -0.072023
C   -0.486225
D    5.000000
F    3.000000
dtype: float64

In [68]:
df.mean(1) #행의 평균을 계산

2013-01-01    0.639554
2013-01-02    1.265971
2013-01-03    1.391488
2013-01-04    1.199426
2013-01-05    2.063990
2013-01-06    1.882101
Freq: D, dtype: float64

In [71]:
#shift : 입력된 값만큼 값들을 이동시키고 빈 공간은 NAN으로 채움
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2013-01-01   NaN
2013-01-02   NaN
2013-01-03     1
2013-01-04     3
2013-01-05     5
2013-01-06   NaN
Freq: D, dtype: float64

In [72]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(1)
s

2013-01-01   NaN
2013-01-02     1
2013-01-03     3
2013-01-04     5
2013-01-05   NaN
2013-01-06     6
Freq: D, dtype: float64

In [73]:
#sub : 값 중에 NaN이 있는 행 또는 열을 뺀다.
#sub(other, axis='columns', level=None, fill_value=None)
#ohter : Series, DataFrame, constant, 
#axis : {0,1, index’,‘columns’}
#level : int or name
#fill_value : None or float value, default None
df.sub(s, axis='index')

                   A         B         C   D   F
2013-01-01       NaN       NaN       NaN NaN NaN
2013-01-02 -0.491255 -0.856543 -1.322349   4   0
2013-01-03 -2.917618 -3.104139 -3.020805   2  -1
2013-01-04 -5.825304 -5.552276 -5.625291   0  -2
2013-01-05       NaN       NaN       NaN NaN NaN
2013-01-06 -6.408575 -6.710675 -5.470247  -1  -1

In [83]:
#apply(func, axis=0, broadcast=False, raw=False, reduce=None, args=())
#입력된 함수를 적용
df.apply(np.cumsum) #cumsum : 각 열을 기준으로 합을 누적함

                   A         B         C   D   F
2013-01-01  0.000000  0.000000 -2.441782   5 NaN
2013-01-02  0.508745  0.143457 -2.764131  10   1
2013-01-03  0.591127  0.039317 -2.784936  15   3
2013-01-04 -0.234177 -0.512959 -3.410227  20   6
2013-01-05  0.331151  0.278535 -3.447100  25  10
2013-01-06 -0.077424 -0.432140 -2.917347  30  15

In [85]:
df.apply(lambda x: x.max() - x.min()) #각 열의 최댓값에서 최소값을 뺀 값

A    1.390632
B    1.502169
C    2.971535
D    0.000000
F    4.000000
dtype: float64

In [86]:
s = pd.Series(np.random.randint(0, 7, size=10)) #10개의 0~7사이에 값을 가지는 Series를 생성

In [87]:
s

0    5
1    0
2    3
3    1
4    2
5    6
6    3
7    1
8    4
9    6
dtype: int32

In [88]:
s.value_counts() #각 값이 몇개씩 있는지 출력

6    2
3    2
1    2
5    1
4    1
2    1
0    1
dtype: int64

In [89]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [90]:
s.str.lower() #전부 소문자로 변환

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [91]:
df = pd.DataFrame(np.random.randn(10, 4)) #10x4 DataFrame 생성
df

          0         1         2         3
0  0.705170  0.175657  0.964400 -0.039187
1 -0.794047 -1.222131 -1.206930 -2.045151
2  0.162037  1.538401 -0.902570 -1.108054
3  0.484890 -0.575167 -0.818984  0.733348
4  0.201399 -1.711275  0.972919  1.432895
5 -0.095713  0.206270  1.077440  0.072558
6  0.671208  1.143660  3.644135  0.972268
7  0.671339 -1.342014 -1.242492  1.074394
8 -0.206691  1.488809 -0.565670  0.783136
9 -1.704150  0.627731 -1.848467 -0.593214

In [ ]:
pieces = [df[:3], df[3:7], df[7:]] #